In [14]:
import pandas as pd
import numpy as np
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9],[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                columns=['a', 'b', 'c'])

In [15]:
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  3
4  4  5  6
5  7  8  9

In [24]:
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  3
4  4  5  6
5  7  8  9

In [44]:
df2['diff'] = (df2.c -3)**2

In [48]:
df2.diff.mean()

6.0

In [ ]:
    train.dif = (train.rating - gmr)**2
    err_train[fold]=np.sqrt(np.mean(train.dif)**2))

In [21]:
for train_index, test_index in kf.split(df2.a):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = df2.iloc[train_index], df2.iloc[test_index]

TRAIN: [3 4 5] TEST: [0 1 2]
TRAIN: [0 1 2] TEST: [3 4 5]

In [52]:
np.sqrt(X_train.a.mean())

2.0

In [59]:
X_test['diff'] = (X_test.c -3)**2

/Users/jeremydai/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [64]:
X_test['diff'].mean()

15.0

In [61]:
X_test

   a  b  c  diff
3  1  2  3     0
4  4  5  6     9
5  7  8  9    36

In [66]:
df2

   a  b  c  diff
0  1  2  3     0
1  4  5  6     9
2  7  8  9    36
3  1  2  3     0
4  4  5  6     9
5  7  8  9    36

In [97]:
mean_v = df2.groupby(['a'])['c'].mean().to_frame().reset_index()

In [99]:
mean_v.columns = ['a', 'newc']

In [100]:
mean_v

   a  newc
0  1     3
1  4     6
2  7     9

In [101]:
df2.merge(mean_v,on=['a'], how='left')

   a  b  c  diff  newc
0  1  2  3     0     3
1  4  5  6     9     6
2  7  8  9    36     9
3  1  2  3     0     3
4  4  5  6     9     6
5  7  8  9    36     9

In [108]:
df2['a'][5] = np.nan

In [111]:
df2

     a  b  c  diff
0  1.0  2  3     0
1  4.0  5  6     9
2  7.0  8  9    36
3  1.0  2  3     0
4  4.0  5  6     9
5  NaN  8  9    36

In [110]:
df2['c'].fillna(5)

0    3
1    6
2    9
3    3
4    6
5    9
Name: c, dtype: int64

In [112]:
df2

     a  b  c  diff
0  1.0  2  3     0
1  4.0  5  6     9
2  7.0  8  9    36
3  1.0  2  3     0
4  4.0  5  6     9
5  NaN  8  9    36

In [115]:
df2['diff'] = (df2.a-df2.c)**2

In [116]:
df2

     a  b  c  diff
0  1.0  2  3   4.0
1  4.0  5  6   4.0
2  7.0  8  9   4.0
3  1.0  2  3   4.0
4  4.0  5  6   4.0
5  NaN  8  9   NaN

In [117]:
from sklearn import linear_model

In [129]:
reg = linear_model.LinearRegression()
mask = ~np.isnan(df2['a']) & ~np.isnan(df2['b']) & ~np.isnan(df2['c'])
reg.fit (df2[['a','b']][mask],df2['c'][mask])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [126]:
mask

0     True
1     True
2     True
3     True
4     True
5    False
dtype: bool

In [130]:
print(reg.coef_)
print(reg.intercept_)

[0.5 0.5]
1.5000000000000013

In [131]:
a, b = reg.coef_

In [132]:
a

0.49999999999999994

In [133]:
b

0.49999999999999983

In [134]:
df2

     a  b  c  diff
0  1.0  2  3   4.0
1  4.0  5  6   4.0
2  7.0  8  9   4.0
3  1.0  2  3   4.0
4  4.0  5  6   4.0
5  NaN  8  9   NaN

In [136]:
df2['pred']=df2['a']*1+df2['b']*2+3

In [137]:
df2

     a  b  c  diff  pred
0  1.0  2  3   4.0   8.0
1  4.0  5  6   4.0  17.0
2  7.0  8  9   4.0  26.0
3  1.0  2  3   4.0   8.0
4  4.0  5  6   4.0  17.0
5  NaN  8  9   NaN   NaN